.draggable-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 70vh;
  margin: 20px auto;
  padding: 20px;
  border: 2px dashed gray;
  overflow: scroll;
}

.screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
}

.screen-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.screen-buttons {
  display: flex;
  gap: 10px;
}

.screen-inputs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.device-frame {
  position: relative;
  border: 16px solid #000;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

.screen {
  position: relative;
  border: none;
  background-color: #f0f0f0;
  overflow: hidden;
}

.draggable-item {
  background-color: #fff;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: move;
  font-size: 10px;
  text-align: center;
}

.draggable-item:hover {
  transform: scale(1.05);
}

.selector-container {
  width: 100%;
  margin-bottom: 20px;
}

.selector-label {
  font-size: 16px;
  margin-bottom: 24px;
}

.selector-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* styles.css */
.container {
  display: flex;
  height: calc(100vh - 64px);
  padding-top: 64px;
}

.filters-container, .table-container {
  width: 100%;
}

.filters {
  padding: 20px;
  color: white;
  border-radius: 4px;
}

.table-paper {
  width: 100%;
}

.table-header {
  background-color: #2196f3;
  color: white;
}

.table-header th {
  color: white;
  font-weight: bold;
}

.add-button {
  background-color: #2196f3;
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.item-manager-container, .screen-manager-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 80px;
}

.filters-container {
  width: 30%;
  margin-right: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 65%;
}

@media (max-width: 768px) {
  .item-manager-container, .screen-manager-container {
    flex-direction: column;
  }
  .filters-container, .table-container {
    width: 100%;
  }
  .filters-container {
    margin-right: 0;
  }
}