/* styles.css */
.container {
  display: flex;
  height: calc(100vh - 64px);
  padding-top: 64px;
}

.filters-container, .table-container {
  width: 100%;
}

.filters {
  padding: 20px;
  color: white;
  border-radius: 4px;
}

.table-paper {
  width: 100%;
}

.table-header {
  background-color: #2196f3;
  color: white;
}

.table-header th {
  color: white;
  font-weight: bold;
}

.add-button {
  background-color: #2196f3;
  color: white;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.item-manager-container, .screen-manager-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 80px;
}

.filters-container {
  width: 30%;
  margin-right: 20px;
}

.filters {
  display: flex;
  flex-direction: column;
}

.table-container {
  width: 65%;
}

@media (max-width: 768px) {
  .item-manager-container, .screen-manager-container {
    flex-direction: column;
  }
  .filters-container, .table-container {
    width: 100%;
  }
  .filters-container {
    margin-right: 0;
  }
}

/* create */

.container {
  display: flex;
  height: calc(100vh - 64px);
  padding-top: 64px;
}

.sidebar {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
}

.item-preview {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
}

button + p {
  margin-left: 10px;
  line-height: 1.5;
}

input[type="file"] + .MuiOutlinedInput-root {
  width: 100%;
}